<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/custom/custom.css">
    <title>Hello, world!</title>
  </head>
  <body>
  	<div class="container login_dimensions">
  		<div class="row">
        <% if (message) { %>
        <div class="alert alert-danger" role="alert">
            <%= message %>
        </div>
        <% } %>
  			<form method="post" action="/registration">

          <div class="form-group">
            <label for="formGroupExampleInput">Email</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email" name="email" required="" value="<%= user.email %>">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">First Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="First Name" name="fname" value="<%= user.fname %>">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Last Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Last Name" name="lname" required="" value="<%= user.lname %>">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Password</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Password" name="password" required="" value="<%= user.password %>">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Confirm Password</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Confirm Password" name="confirmpassword" required="" value="<%= user.confirmpassword %>">
          </div>
          <button type="submit" class="btn btn-primary" name="submitbtn">Submit</button>
        </form>
  		</div>
  	</div>
  	
  


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src=/js/jquery.js></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
  </body>
</html>